header {
  padding-left: 50px;
  font-family: 'Press Start 2P', cursive;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.createRoomContainer, .joinRoomContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px;
}

p {
  padding: 0px 2px;
}

input, button {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #b7b7b7;
  font-size: 14px;
}

button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.roomList {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
}

.roomItem {
  padding: 10px 15px;
  border-bottom: 1px solid #b7b7b7;
  font-size: 14px;
}

.roomItem:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.roomItem:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: none;
}

.selectedRoom {
  background-color: #ececec;
}

:focus-visible {
  outline: none;
}
